/* Responsive website: Smallest screen size to largest */
@media only screen and (min-width: 600px) {
    body{
        background-color: lightgreen;
    }

    .floatleft {
        float: left;
    }

    .col-30 {
        display: inline-block;
        width:30%;
    }

    .col-70 {
        display: inline-block;
        width:70%;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}

@media only screen and (min-width: 768px) {
    body{
        background-color: lightblue;
    }

    .col-30 {
        display: inline-block;
        width: 30%;
    }

    .col-70 {
        display: inline-block;
        width:70%;
    }

    .col-lg-1 {width: 8.33%;}  
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

}

body {
    font-family: Arial, Helvetica,
     sans-serif;
}

/* Pseudo-Class Selectors:
    selector:pseudo-class {
        property: value;
    } */

li:first-child{
    padding: 0px;
}
nav a:link, nav a:visited {
    color: rgb(138, 111, 111);
    text-decoration: none;
    display: block;
    background-color: rgb(252, 184, 184);
    width: 200px;
    }

nav a:hover, nav a:active{
    background-color: red;
    color: white;
}

/* Gets rid of bullet points on list items */
nav li {
    list-style-type: none;
    display: inline-block;
}

img {
    display: block;
    margin: auto;
}

.floatleft {
    float: left;
}

.clearleft {
    clear: left;
}

.tagelement {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    background-color: lightgray;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    width: 49%;
    height: 150px;
    margin: 5px;
    padding: 40px;
}



.small {
    border: 2px solid black;
    margin: 10px;
    padding: 20px;
    width: 50px;
    box-sizing: 50px;
}

.large {
    border: 2px dotted red;
}

